hooks
node_modules
src/node_modules
src/hooks


*.gif
*.png
*.log
*.map
*.ts
!*.d.ts

Thumbs.db
.DS_Store
.npmignore
references.d.ts
*.spec.*
*.e2e.*
CONTRIBUTING.md
karma.conf.js
protractor.conf.js
test-main.js
tsconfig.json
tslint.json
typedoc.json
.travis.yml
.jshintrc
.editorconfig
resources
